body{
font-family:sans-serif;
background-color:#F6F8D5;
margin:0;
}
header{
display:flex;
justify-content:space-between;
background-color:#205781;
color:#F6F8D5;
}
header a{
color:#F6F8D5;
text-decoration:none;
}
header h1{
margin-left:32px;
}
header h1 a{
display:block;
width:160px;
height:64px;
background:url(ENTIhub_logo_small.png) no-repeat;
text-indent:-10000px;
}
header nav{
margin-right:32px;
}
header nav ul{
display:flex;
list-style:none;
margin:0;
padding:0;
}
header nav li{
margin:44px 16px;
}
main{
width:720px;
margin:0 auto;
}
#message_form{
text-align:center;
text-decoration:none;
background-color:#4F959D;
border-radius:8px;
padding:16px;
margin:16px 0;
}
#message_form h2{
color:#F6F8D5;
}
#message_form textarea{
font-size:20px;
width:480px;
height:128px;
}
#message_form input{
font-size:20px;
padding:8px;
}
#message-block h2{
color:#205781;
text-align:center
}
section.message{
border:2px solid #205781;
border-radius:8px;
margin:16px 0 16px 0;
padding:16px;
}
section h3 a{
color:#205781;
text-decoration:none;
}
p.message-text{
font-size:24px;
}
p.message-date{
font-weight:bold;
}
footer{
text-align:center;
background-color:#205781;
color:#F6F8D5;
}
footer p{
font-size:24px;
padding:32px;
margin-bottom:0;
}


#message_login a{
display:block;
text-align:center;
padding:32px 0 32px 0;
color:#F6F8D5;
background-color:#4F959D;
border-radius:8px;
text-decoration:none;
}
#message_login a:hover{
background-color:#98D2C0;
color:#205781;
}


#logout_msg:before{
content:"!";
}

#logout_msg{
text-align:center;
padding:16px 0 16px 0;
background-color:#4F959D;
border-radius:8px;
animation: 0.5s linear 3s message_disappear; 
animation-fill-mode: forwards;
}


@keyframes message_disappear{
	0% {
		padding:16px 0 16px 0;
		opacity: 1;
		transform:scaleY(1);
	}
	100%{
		padding:0 0 0 0;
		opacity: 0;
		transform:scaleY(0);
		height:0;
		padding:0;
		margin:0;
	}
}


#userbio-block{
background-color:#4F959D;
border-bottom-right-radius:8px;
border-bottom-left-radius:8px;
}

#userbio-block h2{
margin:0;
padding:8px 0 8px 0;
text-align:center;
color:#F6F8D5;
}
#userbio-block ul{
margin:0;
padding:0 0 8px 0;
text-align:center;
list-style:none;
}

#login-register{
	main{
		display:flex;
		justify-content:space-evenly;
		align-items:flex-start;
	}
	form{
		margin:32px 0 32px 0;
		border:2px solid #98D2C0;
		border-radius:16px;
	}
	form h2{
		padding:8px;
		margin:0;
		background-color:#98D2C0;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		color:#205781;
	}
	label{
		display:block;
		font-size:12px;
	}
	form p{
		display:flex;
		flex-direction:column;
		padding:0 12px 0 12px;
	}

	form input[type="submit"]{
		display:block;
		margin:0 auto;
		padding:12px 16px;
		background-color:#4F959D;
		color:#F6F8D5;
		border:1px solid #4F959D;
		border-radius:16px;
	}
	form input[type="submit"]:hover{
		background-color:#98D2C0;
		color:#205781;
		border:1px solid #98D2C0;
	}

	
}
